*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{

    --main-color: #8dc63f;
    --secondary-color: #b6ef4933;
    --font-color: #333;
    --background-color: #f4f4f4;
     --box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
nav{
    height: 90px;
    font-size: 1rem;
    font-family: Arial, sans-serif;
    background-color: white;
    color: var(--font-color);
    line-height: 1.6; 
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-bottom: 40px;
  
}

 img{
    height: 60px;
}
nav ul{
    list-style: none; 
    display: flex;
     align-items: center;
    padding: 1rem;
    font-weight: lighter;
    gap: 20px;

    background-color: white;
     box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    
}
nav ul li:hover{
    text-decoration: underline;
    cursor: pointer;
    text-decoration-color: var(--main-color);

}



nav ul li {
              margin-left: 37px;
              
             color: #666666;
             
            }

  #color1{
       animation: 2s linear infinite;
    color: var(--main-color);
      
}

 
.btn{
    background-color: rgba(22, 22, 255, 0.868);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
   
    
}
.btn:hover{
   background-color: #2ecc71;
    
}
 
.container{
    height: 100px;
    /* width: 100px; */
    display: flex;
      justify-content: space-evenly; 
     text-align: center; 
     margin: 0 60px;
     gap: 20px;
      

     
}
 .box1{
    margin-top: 30px;
     height: 500px;
     width: 500px;
}


 .box1 > h2{
    
    font-weight: bold;
    font-size: 35px;
    margin-top: 50px;
    text-align: left;
    margin-bottom: 30px;
    margin-left: -90px;
} 
.container .box1 span{
color: var(--main-color);
}

 .box1 > a{
     margin-left: -160px;
    font-weight: bold;
    font-size: 20px;
    
    

}

.box1 > a > span{
    color: var(--main-color);
       
}

.box1 p {
    margin-top: 10px;
    text-align:left ;
    margin-left: -90px;
}

.box1 > button{
    padding: 20px;
    background-color: white;
    border: 1px solid black;
    width: 250px;
    margin-left: -430px;
}
.box1 > button > i{
     margin-left: 5px;

} 
button:hover{
    cursor: pointer;
}
 .box2{
 
    margin-top: 10px;
     height: 500px;
    width: 500px;
    display: grid; 
    margin-right: -10px;
     grid-template-columns: 100px 100px; 
    gap: 5px;
   
}



.img1{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    margin-left: 50px;
    margin-top: 30px;
}

.img2{
    height: 230px;
    width: 230px;
    border-radius: 50%;
    margin-top: 80px;
    margin-left: 130px;
}
.img3{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    margin-top: -120px;
    margin-left: 20px;
}
.img4{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 190px;
}

.box3{
    height: 100px;
     width: 95%;
 margin-top: 500px;
 box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
 background-color:  #b6ef4933 ;
  justify-content: center;
 align-content: center; 
 border-radius: 5px;
margin-left: 30px;
margin-right: 20px;
}

.box3 input{
    border: 2px solid rgb(255, 254, 254);
    padding: 10px;
   border: 1px solid black;
}


.box3 button  {
    margin-top: 10px;
    margin-left: 50px;
    background-color: #424242;
    color: rgb(255, 255, 255);
    border-radius: 10px;
   border: 1px solid black;
    
}

.box3 .btn1{
    margin-left: 30px;
    padding: 15px;
    color: #333;
    background-color: white;
} 
.box3 .btn1:hover{
    background-color: #000000;
    color: white;
    transform: scale(1.1);
}
 .box3 #btn1 {
    padding: 15px;
    background-color: #8dc63f;
    border: 1px solid black;
    
  }
  .box3 #btn1:hover{
    transform: scale(1.1);
  }
 
  .big-img{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   margin-top: 20px;

  }
  .big-img img{
    height: 500px;
    width: 90%;
    margin-left: 60px;
  }

  
#head{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
    background-color: white;
}
  .content{
     width: 90%; 
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    background-color: white
    
  }
 
  
  .content .con {
    width: 90%;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     margin-top: 40px;
     width: 200px;
     height: 150px;
     background-color: #b6ef4933;
     
     margin-left: 60px;
     margin-right: -50px;
     justify-content: center;
     align-self: center;
     
     }
  

.content .con i{
    margin-left: 70px;
    margin-top: 40px;
    font-size: 40px;
    color: #3b82f680;;
}
.content p{
    margin-left: 60px;
    margin-top: 20px;
    font-size: 20px;
}

.content  #com {
     margin-left: 40px;
    margin-top: 20px;
    font-size: 20px;
}
.content .con:hover{
    transform: scale(1.1);
}

.img-box{ width: 90%; 
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    background-color: white
}
    
.boox1  {
    width: 90%;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     margin-top: 40px;
     width: 350px;
     height: 250px;
     background-color: #b6ef4933;
     border-radius: 10px;
     margin-left: 60px;
     margin-right: -50px;
     justify-content: center;
     align-self: center;
}
.img-box .boox1  {
    background-image: url(boox1.jpg);
  width: 350px;
    height: 250px;
    border-radius: 10px;
    background-size: cover;
}
.boox1:hover{
    transform: scale(1.1);
   cursor: pointer;
}
.boox1 p{
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 20px;
     font-size: 20px;
}
.boox1 button{
    margin-top: 150px;
    margin-left: 15px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    background-color: #8dc63f;
    border: 1px solid black;
    color: white;
}


 .boox2{
     width: 90%;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     margin-top: 40px;
     width: 350px;
     height: 250px;
     background-color: #b6ef4933;
     border-radius: 10px;
     margin-left: 60px;
     margin-right: -50px;
     justify-content: center;
     align-self: center;
     background-image: url(boox2.jpg);
     background-size: cover;
 }
 .boox2 p{
    text-align: center;
    color: rgb(3, 3, 3);
    font-weight: bold;
    margin-top: 20px;
     font-size: 20px;
}
.boox2 button{
    margin-top: 150px;
    margin-left: 15px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    background-color: #8dc63f;
    border: 1px solid black;
    color: white;
}
.boox2:hover{
    transform: scale(1.1);
   cursor: pointer;
}



 .boox3{
     width: 90%;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     margin-top: 40px;
     width: 350px;
     height: 250px;
     background-color: #b6ef4933;
     border-radius: 10px;
     margin-left: 60px;
     margin-right: -50px;
     justify-content: center;
     align-self: center;
     background-image: url(boox3.jpg);
     background-size: cover;
 }
.boox3 p{
    text-align: center;
    color: rgb(255, 254, 254);
    font-weight: bold;
    margin-top: 20px;
    font-size: 20px;
}
.boox3 button{
    margin-top: 150px;
    margin-left: 15px;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    background-color: #8dc63f;
    border: 1px solid black;
    color: white;
}
.boox3:hover{
    transform: scale(1.1);
   cursor: pointer;
}

.service{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   margin-top: 20px;

  }
  .service img{
    margin-top: 20px;
    height: 400px;
    width: 90%;
    margin-left: 60px;
  }

  .green-text{
    margin-top: 40px;
    text-align: center;
    color: #8dc63f;
    font-weight: bold;
    font-size: 18px;
    background-color: white;
  }
  #text{
    margin-top: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.speech{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   margin-top: 20px;

  }
  .speech img{
    margin-top: 20px;
    height: 400px;
    width: 90%;
    margin-left: 60px;
  }

   #media{
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

.updates{ width: 90%; 
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    background-color: white
}

.book1{
     width: 90%;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     margin-top: 40px;
     width: 300px;
     height: 200px;
     background-color: #b6ef4933;
     border-radius: 5px;
     margin-left: 60px;
     margin-right: -50px;
     justify-content: center;
     align-self: center;
     background-image: url(updates.jpg);
     background-size: cover;
 }
 .book1 img{
    margin: 35% 40%;
    border-radius: 10px;
    
 }


 .book1 p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: -50px;
    font-size: 18px;
}

.book1:focus{
    transform: scale(1.1);
   cursor: pointer;
} 
.book2{
     width: 90%;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     margin-top: 40px;
     width: 300px;
     height: 200px;
     background-color: #b6ef4933;
     border-radius: 5px;
     margin-left: 60px;
     margin-right: -50px;
     justify-content: center;
     align-self: center;
     background-image: url(Screenshot\ 2026-01-26\ 234852.jpg);
     background-size: cover;}

     .book2 img{
    margin: 35% 40%;
    border-radius: 10px;
    
 }


 .book2 p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: -50px;
    font-size: 18px;
}

.book2:focus{
    transform: scale(1.1);
   cursor: pointer;}

   .book3{
     width: 90%;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     margin-top: 40px;
     width: 300px;
     height: 200px;
     background-color: #b6ef4933;
     border-radius: 5px;
     margin-left: 60px;
     margin-right: -50px;
     justify-content: center;
     align-self: center;
     background-image: url(book3.jpg);
     background-size: cover;}

     .book3 img{
    margin: 35% 40%;
    border-radius: 10px;
    
 }


 .book3 p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: -50px;
    font-size: 18px;
}

.book3:focus{
    transform: scale(1.1);
   cursor: pointer;}


   
   .book4{
     width: 90%;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     margin-top: 40px;
     width: 300px;
     height: 200px;
     background-color: #b6ef4933;
     border-radius: 5px;
     margin-left: 60px;
     margin-right: -50px;
     justify-content: center;
     align-self: center;
     background-image: url(book4.jpg);
     background-size: cover;}

     .book4 img{
    margin: 35% 40%;
    border-radius: 10px;
    
 }


 .book4 p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-top: -50px;
    font-size: 18px;
}

.book4:focus{
    background-color: #666666;
   cursor: pointer;}

#knew{ 
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
.news{ width: 90%; 
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 5px;
    
}

  .book5{
     width: 60%;
     box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
     margin-top: 40px;
     width: 250px;
     height: 350px;
     background-color: #dddfdb33;
     border-radius: 10px;
     margin-left: 60px;
     margin-right: -50px;
     justify-content: center;
     align-self: center;
     /* background-image: url(book5.jpg); */
     background-size: cover;}

     .book5 img{
    height: 200px;
    width: 250px;
    /* border-radius: top 10px; */
    
 }


 .book5 p{
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    /* margin-top: -50px; */
    font-size: 18px;
}

.book5:focus{
    background-color: #666666;
   cursor: pointer;}

.news .book5 button{
    padding: 2px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom:10px;
    background-color: var(--main-color);
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}


 #bot i{
     background-color: white;
     color: #000000;
     padding: 5px;
     width: 60px;
    
}

.guide{
     height: 200px;
    width: 90%;
     background-color: #0d6db7;
    /* background-image:url(guide.jpg);  */
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
    margin-top: 50px;
    padding: 50px;
    margin-left: 50px;
    text-align: center;
}
.guide{
    background-color: #0d6db7;
    
}

 .guide #heading{
    color: white;
    margin-bottom: 5px;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
.guide input{
    padding: 10px;
    width: 500px;
    margin-top: 5px;
    border: white;
    border: 2px solid white;
    border-radius: 5px;
}
.guide button{
      padding: 10px;
    width: 500px;
    margin-top: 5px;

    border: 2px solid white;
     border-radius: 5px;
     font-weight: bold;
     background-color: white;
}

 


.last-panal{
    background-image: url(fotpanal.png);
    height: 500px;
    width: 90%;
    margin-left: 55px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    
}

.panal1 img{
    width: 200px;
    height: 70px; 
    margin-top: 55px;
    margin-left: 65px; 

    font-size: 18px;

}
.panal1 p{
    margin-left: 40px;
    font-size: 35px;
    margin-top: 10px;
    color: #0d6db7;
    border-radius: 5px;
}
  .panal1 p  #i1{
    font-size: 30px;
    background-color: #000000;
    color: #fef9f9;
     border-radius: 5px;
}  

 .panal1 p  #i2{
    font-size: 30px;
    background-color: #ff1717;
    color: #fef9f9;
     border-radius: 5px;
}  
 .panal1 p  #i3{
    font-size: 30px;
    background-color: #44ff00c1;
    color: #fef9f9;
     border-radius: 5px;
} 
.panal1 p :hover{
    cursor: pointer;
} 

.panal1 .bton{
     margin-top: 20px; 
    margin-left: 40px;
    background-color: #000000;
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-content: center; 
    width: 120px;
    border: 1px solid white;
   
}

.bton i
{  margin-left: -15px;
    font-size: 20px; 
     margin-bottom: -10px;
     margin-top: 5px; }

.bton a{
    font-size: 10px;
    margin-top: -20px; 
     ma}rgin-right: -5px;

.bton span {
    font-size: 16px;
    font-weight: bold;
    margin-top: -20px;
    margin-left: 5px;
     margin-right: -14px;
}
 .bton :hover{
    cursor: pointer;
 }

 .bton img{
    width: 40px;
    height: 20px;
    margin-left: -35px;
    margin-top: -10px;
    align-items: center;
    margin-bottom: -14px;
 }

  .bton .google{
    font-size: 14px;
    margin-right: -20px;
  }
  
.major{
    
    justify-content: center;
    align-items: center;
    margin-top: -470px;
    margin-left: 380px;
    color: #f4f4f4;
     
      
  }
  .major:hover{
    cursor: pointer;
  }
  .major p{
    font-size: 25px;
    font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
      
  }
  .major p a{
    margin-top: 5px;
     font-size: 10px;
  }
  .list p {
    font-size: 25px;
    font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
  }
  .list{
     justify-content: center;
    align-items: center;
    margin-top: -260px;
    margin-left: 580px;
    color: #f4f4f4;
      /* font-family: Arial, Helvetica, sans-serif; */
  }
  
  .list1 p{
    font-size: 25px;
    font-weight: bold;
     font-family: Arial, Helvetica, sans-serif;
  }

   .list1{
     justify-content: center;
    align-items: center;
    margin-top: -195px;
    margin-left: 780px;
    color: #f4f4f4f4;
      /* font-family: Arial, Helvetica, sans-serif; */
      font-size: 14px;
      align-items: space-between;
  }  

  .bank img{
     margin-left: 600px;
     margin-top: 100px;
    
  }
  .bank p{
    margin-left: 570px;
     margin-top: 10px;
    color: rgb(255, 255, 255);
  }

  .copy{
         width: 90%;
         margin-left: 55px;
         margin-top: 25px;
         padding: 10px;
         color: #fbfbfb;
         height: 30px;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 0.85rem;
         border: 0.85px solid rgb(170, 170, 170);
        }

        .copy span{
            padding: 10px;
            margin-top: 10px;
        }
        .paste{
             width: 90%;
         margin-left: 55px;
         margin-top: 20px;
         padding: 10px;
         color: #fbfbfb;
         height: 30px;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 0.85rem;
         
        }