* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}
body{
  background-color: #000;
}

.navbar {
  height: 100px;
  width: 100%;
  background-color: black !important;

}

.items a {
  text-decoration: none;
  gap: 10px;
  margin-left: 20px;

}

.items:hover {
  cursor: pointer;
}

.btn-nav {
  justify-content: space-between;

}

.btn-nav .btn1 {
  color: aliceblue;
  background-color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 8px;
  border: 2px solid white;
}

.btn-nav .btn2 {
  color: aliceblue;
  background-color: red;
  border-radius: 20px;
  padding: 8px;

}

/* 
.card-sec{
    height: auto;
    width: 100%;
    color: white;
   
}
.header-sec h1{
    display: flex;
justify-content: center;
align-items: center;
} 

.header-sec p{
        display: flex;
justify-content: center;
align-items: center;
font-size: 35px;
margin-top: 15px;
}
 .header-sec .text-light{
    font-size: 15px ;
}


.card{display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 600px;
    margin-top: -18px;
}
.card img{
    width: 200px;
    height: 100px;
    border-radius: 5px;
    background-color: aliceblue;

}
.card-btn {
    color:aliceblue;
    border: 1px solid white;
    margin-top: 15px;
    padding: 10px;
    border-radius: 30px;
    width: 160px;
} */



body {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.brands-section {
  padding: 60px 20px;
  justify-content: center;
  align-items: center;
}

.brands-section h1 {
  justify-content: center;
  /* align-items: center; */
  font-size: 40px;
  font-weight: 300;
  color: white;
  margin-left: 350px;
}

.brands-section h1 span {
  font-weight: bold;
  font-family: serif;
}

.brands-section h2 {
  font-size: 32px;
  margin-top: 10px;
  color: #fff;
  margin-left: 400px;
}

.subtitle {
  margin: 20px 0 40px;
  color: #ddd;
  font-size: 16px;
  margin-left: 300px;
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card-logo {
  background-color: #111;
  padding: 20px;
  border-radius: 10px;
  width: 250px;
  /* transition: transform 0.3s; */
}

.card-logo:hover {
  /* transform: translateY(-5px); */
  cursor: pointer;
}

.card-logo img {
  width: 100%;
  height: auto;
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.card-logo button {
  margin-top: 20px;
  padding: 10px 20px;
  border-radius: 25px;
  border: 1px solid #fff;
  background: black;
  color: #ffffff;
  cursor: pointer;
  border: 2px solid white;
  /* justify-content: center;
  align-items: center; */
  margin-left: 30px;
}

.card-logo button:hover {
  cursor: pointer;
}

.hero{
  background-color: #000000;
  height: 600px;
}


.container {
  width: 85%;
  margin: auto;
  text-align: center;
  padding: 50px 0;
  background-color: #000000;
  /* width: 100px; */
}

/* Headings */
.title {
  font-size: 48px;
  font-weight: bold;
  color:white;
}

.subtitles {
  font-size: 42px;
  margin-top: 10px;
  margin-right: 40px;
  color: #ddd;
}

.desc {
  margin-top: 15px;
  color: #aaa;
  font-size: 16px;
}

/* Content Layout */
.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  gap: 40px;
  background-color: #000000;
 
}

/* Image */
.image-box img {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  margin-left: 10px;
}

/* Right Side */
.info {
  text-align: left;
  max-width: 500px;
  margin-right: 100px;
}

.city {
  color: red;
  letter-spacing: 5px;
  font-size: 14px;
  margin-bottom: 10px;
}

.info h3 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #fff;
}

.location,
.phone {
  color: #ccc;
  margin-bottom: 10px;
  font-size: 16px;
}

/* Button */
.btns {
  margin-top: 20px;
  padding: 12px 25px;
  border: 1px solid #fff;
  background: black;
  color: white;
  border-radius: 25px;
  cursor: pointer;

}

.info2 {
  text-align: left;
  max-width: 500px;
  margin-left: 80px;
  background-color: #000000;
 
}

.city2 {
  color: red;
  letter-spacing: 5px;
  font-size: 14px;
  margin-bottom: 10px;
 
}

.info2 h3 {
  font-size: 28px;
  margin-bottom: 15px;
  color: #fff;
}

.location,
.phone {
  color: #ccc;
  margin-bottom: 10px;
  font-size: 16px;
}

.image-box-2{
  margin-left: 600px;
  margin-top: -180px;
}





.franchise-section {
  text-align: center;
  padding: 60px 20px;
  margin-top: 260px;
  background-color: #000;
}

.franchise-section h1 {
  font-size: 40px;
  font-weight: bold;
  color:white;
  font-family: Arial, Helvetica, sans-serif;
}

.franchise-section h2 {
  font-size: 36px;
  margin-bottom: 40px;
  color: white;
}

.cards-sec {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.card01 {
  width: 350px;
  background: #000;
  text-align: left;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.city {
  color: red;
  letter-spacing: 4px;
  font-size: 12px;
  margin-top: 15px;
}

.card01 h3 {
  margin: 10px 0;
  font-size: 20px;
  color: white;
}

.card01 h3 span {
  font-weight: bold;
}

.loca,
.mobile {
  color: #ccc;
  font-size: 14px;
  margin: 5px 0;
}

.buttons {
  margin-top: 15px;
  padding: 10px 20px;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

.button:hover {
  background: #fff;
  color: #000;
}




.village-section {
  padding: 60px 40px;
  text-align: center;
  background-color: #000;
}

.village-section h1 {
  font-size: 42px;
  font-weight: bold;
  color: white;
}

.village-section h2 {
  font-size: 38px;
  margin-bottom: 50px;
  color: white;
}

/* Layout */
.village-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

/* Image */
.image-box img {
  width: 600px;
  max-width: 100%;
  border-radius: 5px;
}

/* Content */
.content-box {
  max-width: 500px;
  text-align: left;
}

.city {
  color: red;
  letter-spacing: 6px;
  font-size: 12px;
  margin-bottom: 10px;
}

.content-box h3 {
  font-size: 28px;
  margin-bottom: 15px;
  color: white;
}

.content-box h3 span {
  font-weight: bold;
}

.location,
.phone {
  color: #ffffff;
  font-size: 15px;
  margin-bottom: 10px;
}

/* Button */
.direction-btn {
  margin-top: 20px;
  padding: 12px 25px;
  background-color: #28a745;
  border: none;
  color: #fff;
  border-radius: 30px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.direction-btn:hover {
  background-color: #000000;
  border: 2px solid #28a745;
}



/* Footer */
.footer {
  background: #0a0a0a;
  color: #ccc;
  padding: 60px 40px 20px;
}

/* Layout */
.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
}

/* Columns */
.footer-col {
  flex: 1;
  min-width: 220px;
}

.footer-col h3 {
  color: #fff;
  margin-bottom: 20px;
}

.footer-col p {
  font-size: 14px;
  line-height: 1.6;
  margin-bottom: 10px;
}

/* Logo */
.logo {
  color: #fff;
  margin-bottom: 15px;
}

.logo span {
  color: red;
  font-size: 16px;
}

/* Links */
.links {
  margin-top: 20px;
}

.links a {
  color: #ccc;
  margin-right: 15px;
  text-decoration: none;
  font-size: 14px;
}

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer-col ul li a:hover {
  color: #fff;
}

/* Social */
.social-icons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.social-icons a {
  width: 40px;
  height: 40px;
  background: red;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  font-weight: bold;
}

/* App buttons */
.apps img {
  width: 140px;
  margin-bottom: 10px;
  display: block;
}

/* Bottom bar */
.footer-bottom {
  border-top: 1px solid #222;
  margin-top: 40px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  color: #aaa;
  font-size: 14px;
}