*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

 .container{
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);

} 

 .leftbox{
    width: 33.33%;
    height: 100%;
    background-color: rgb(255, 253, 253);
    /* display: flex; */
    justify-content: center;
    align-items: center;
    margin-left: 50px;
}  
   .leftbox > i {
    font-size: 60px;
    color: #1877F2;
    margin-top: 50px;
    /* margin-left: -380px; */

} 
  .leftbox h1{
    font-size: 50px;
    color: #0f0f0f;
    margin-top: 140px;
    margin-left: -15px;
    font-family:  Helvetica ;
 } 
    .leftbox h1 span{
    color: #1877F2;
 }


 .centerbox{
    width: 50.33%;
    height: 100%;
    background-color: rgb(255, 255, 255);
     display: flex; 
     justify-content: center;
    align-items: center;
    margin-left: -6px;
} 

    .rightbox{
      width: 150%; 
     height: 120%;
     background-color: rgb(255, 255, 255);
     display: flex;
     justify-content: center;
     align-items: center;
     box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; 
     margin-top: 20px;
     

    }
    .rightbox form{
     width: 80%;
     height: 100%;
     margin: 40px 0;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;

    }
    .rightbox form input{
     width: 100%;
     height: 50px;
     margin: 5px 0;
     padding: 0 10px;
     font-size: 16px;
     border: 1px solid #ccc;
     border-radius: 10px;

    }
    .rightbox form input:focus{
     outline: none;
     border: 1px solid #1877F2;
     
     
     }

    .rightbox form button{
     width: 100%;
     height: 50px;
     margin: 10px 0;
     background-color: #1877F2;
     color: white;
     font-size: 18px;
     border: none;
     border-radius: 50px;
     cursor: pointer;

    }
    .rightbox form button:hover{
     background-color: #165cbb;

    }

    .rightbox form p{
        font-family: Helvetica; 
     margin-bottom: 10px;
     font-size: 18px;
     font-weight: bold;
     cursor: pointer;
    align-self: start;
    }

    /* .rightbox form hr{
     width: 100%;
     border: 0.5px solid #ccc;
     margin: 10px 0;
     margin-top: 20px;

    } */

    .rightbox form .createbtn{
     width: 100%;
     height: 50px;
     background-color: white;
     color: #165cbb;
     font-size: 18px;
     border: none;
     border-radius: 50px;
     cursor: pointer;
     border: #1877F2 solid 1px;
     margin-top: 40px;
    }
    .rightbox form .createbtn:hover{
     background-color: #eff1ef;

    }
     #meta {
        font-family: Arial, Helvetica, sans-serif;
     color: #060606;
        font-size: 20px;
     justify-content: center;
      align-self: center; 
    margin-top: 20px;
     
    }
        #meta i{
        color: #1877F2;
        font-size: 15px;
        }

        .rightbox form .forgot-password{
            align-self: start;
            color: #000000;
            background-color: white;
            cursor: pointer;
           margin-top: -10px;
            }
        .rightbox form .forgot-password:hover{
            background-color: #e4e6e4;
        }