*{
    margin: 0;
    padding: 0;
    border: border-box;
    
}
body{
    height: 100vh;
    width: 100%;
    background-color: #f2f4f7;
    /* display: flex; */
    justify-content: center;
     text-align: center;
     
}
.logo{
       justify-self: center;
    text-align: center; 
   
    }
    .logo img{
          width: 350px;
    height: auto;

    }

.container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 400px;
    height: auto;
    /* margin-left: 30%; */
    border-radius: 10px;
    padding: 12px; 
       
         justify-self: center;
    text-align: center;  
    background-color: white; 
   
}
.container h2{
    font-family: Arial, Helvetica, sans-serif;

    
}
.container p {
    color: #797979;
    font-size: 18px;
    margin-bottom: 10px;

}
hr{
    margin-bottom: 10px;
}
 .content input { 
    width: 160px;
    padding: 10px 18px;
   gap: 20;
   border-radius: 10px;
   border: 1px solid rgb(66, 66, 66);
   font-size: 15px;
    margin-bottom: 10px;


}

.dobirth p , .gender p {
    text-align: left;
    font-size: 14px;
    margin-left: 5px;

}

.dobirth .calendar{
    width: 50px;
    padding: 5px;
    border: 1px solid rgb(66, 66, 66);
    border: 5px;
    /* justify-content: space-evenly; */
}

.dateob select  {
  width: 130px;
    padding: 10px 10px;
   
   border-radius: 5px;
   justify-content: space-between; 
   font-size: 15px;
    margin-bottom: 10px;



}

.gender-choose{
    display: flex;
    justify-content: space-between;
    text-align: center ;
}

.gender-choose div{
    border: 1px solid #ccc;
    padding: 8px 30px;
    gap: 50px;
    border-radius: 6px;
    margin-bottom: 10px;
    }

    .box div input{
        width: 98%;
        height: 40px;
        padding: 0px 5px; 
        margin: 6px 0px;
       border: 1px solid #ccc;
       border-radius: 5px;
       font-size: 16px;
       margin-bottom: 10px;
    }
    .box div input:focus{
        border: 1px solid #385898;
    }


    .para p{
        font-size: 12px;
        text-align: left;
        margin-bottom: 15px;
    }
    .para p a{
       color:  #385898;
        text-decoration:none;
    }
    .para  a :focus{
        cursor: pointer;
        text-decoration: underline;
    }

    .btn button{
        padding: 6px 10px;
        width: 50%;
        background-color: #00a400;
        color: white;
        border-radius: 5px;
        font-weight: bold;
        font-size: 20px;
        border: 1px solid #797979;
        margin-bottom: 10px;
    }
    .btn button:hover {
        cursor: pointer;
    }

    .text{
        color: #1877f2;
        font-size: 20px;
        margin-top: 10px;
    }
    .text:hover{
        cursor: pointer;
    }


    @media only screen and (max-width: 920px){
        
         .logo img {
          width: 200px;
        }
        .container{
        width: 400px;   
    
}

      .content input { 
    width: 150px;
      }
          
 .dateob select  {
  width: 120px;
    }
    .gender-choose div{
    width: 200px;
    
    
}
.box div input {
    width: 350px;
}
}



    @media only screen and (max-width: 520px){
            .container{
        width: 300px;   
       
}

      .content input { 
    width: 100px;
      }

      .dateob select  {
  width: 90px;
    }
     .gender-choose div  {
    width: 50px;
    gap: 10px;
  
   
}
.box div input{
    width: 250px;
}
    

     

    }



    
    

